* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 0 10px;
}

nav {
    background: #00AEFF;
    height: 80px;
    width: 100%;

}

h1 {
    font-size: 100px;
}

.imgLogo {
    background-image: url("https://clubrunner.blob.core.windows.net/00000050032/Images/PNG-for-Word-documents--presentations--and-web-use.(1).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 80px;
    align-items: center;
    justify-content: center;
    border: 0;
    filter: brightness(0) invert(1);
    margin: 0 auto;
    padding: 0 10px;
}

.saturate { filter: saturate(3); }

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    text-shadow:
    0 0 7px white,
    0 0 10px white,
    0 0 21px white,
    0 0 42px #0fa,
    0 0 82px #0fa,
    0 0 92px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background-color: blue;
    transition: all .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.backroundImage {
    display: flex;
    background-size: cover;
    background-image: url("../images/projectImage.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center
}

.container-info {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.card{
    display: flex;
    max-width: 350px;
    height: 100vh;
    margin: 10px;
    background-color: #00AEFF;
    border-radius: 10%;
    padding: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.title{
    font-size: 25px;
    color: white;
    margin: 0 auto;
    
}

.card-description {
    color: white;
}

.img_card {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 90vw;
    height: 50vh;
}

ul li {
    margin-left: 15px;
    margin-top: 15px;
}

.footer-clean {
    display: flex;
    padding:20px 0;
    background-color: white;
    color: black;
    justify-content: center;
}
  
.footer-clean h1 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
}
  
.footer-clean ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
}
  
.footer-clean ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
    color: black;
    text-shadow:
    0 0 7px #00AEFF,
    0 0 10px#00AEFF,
    0 0 21px #00AEFF,
    0 0 42px #00AEFF,
    0 0 82px #00AEFF,
    0 0 92px #00AEFF,
    0 0 102px #00AEFF,
    0 0 151px #00AEFF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
  
.footer-clean ul a:hover {
    opacity:1;
}
   
.footer-clean .item.social {
    text-align:right;
}

p {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
    letter-spacing: .01em; 
    margin-top: 10px;
}


@media (max-width: 952px) {

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    ul li {
        margin-left: 15px;
        margin-top: 15px;
    }

    

    .imgLogo {
        width: 150px;
        height: 60px;
    }
    
}

@media (max-width: 858px) {
    .backroundImage {
        width: 100%;
    }

    h1 {
        font-size: 70px;
    }

    nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }

    .checkbtn {
        display: block;
    }

    nav
     ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px;
    }

    nav ul li a {
        color: blue;
      text-shadow:
        0 0 7px blue,
        0 0 10px blue,
        0 0 21px blue,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul {
        left: 0;
    }

    nav ul {
        background-color: white;
    }

}


